$grid-breakpoints: (
  xs: 0,
  sm: 500px,
  md: 600px,
  lg: 900px,
  xl: 1000px
);

$yellow: #ffcc00;
$purple: #330033;
$gray: #333333;
$blue: #333366;
$cyan: #333399;


@import 'bootstrap/bootstrap';

@import 'variables';
@import 'mixins';
@import 'base';
@import 'layout';
@import 'module';
@import 'state';
@import 'module';
@import 'theme';
@import url('https://fonts.googleapis.com/css?family=Cookie|Libre+Baskerville|Montserrat&display=swap');
